body{
    background: linear-gradient(45deg, indigo, violet, lightpink);
}

h1{
    font-family: "Comic Sans", cursive;
    text-align: center;
    color: indigo;
}

p{
    font-size:x-large;
    color: lightskyblue; 
    text-shadow: 0 0 2px indigo;
}

#nombre-de-usuario, #rondas, #registro-usuario, #mensaje-despedida{
    text-align: center;
}

::placeholder{color: indigo;}

#nombre-usuario{
    border: indigo solid 2px;
    border-radius: 10px;
    background-color: violet;
    color: indigo;
}

#advertencia-nombre{
    font-size: x-large;
    color: red;
}


#explicacion-de-como-jugar{
    border: double rgb(138, 4, 138) 10px;
    text-align: center;
    font-size: larger;
    color: #09113c;
    background-color: lightskyblue;
}

#btn-jugar{
    margin-left: 45%;
    width: 100px;
    height: 50px;
    border-radius: 20%;
    background-color: #09113c;
    color:#d2b56c;
    font-size: x-large;
}

.botones-comunes{
    border: indigo solid 2px;;
    border-radius: 15px;
    color: indigo;
    background-color:lightskyblue;
    width: 35px;
    height: 35px;
}


.botones-colores{
    width: 100px;
    height: 100px;
    border: indigo solid 2px;
    border-radius: 50%;
    opacity: 1;
    transition: opacity 0.5s;
    transform: scale(1);
    transition: transform 0.5s;
}


#conjunto-botones{
    display: grid;
    justify-content: center;
    grid-template-columns: 100px 100px;
    grid-gap: 20px;
}

#boton-verde{
    background-color: green; 
}

#boton-rojo{
    background-color: red;
}

#boton-amarillo{
    background-color: yellow;
}

#boton-azul{
    background-color: blue;
}

#datos-contacto{
    text-align: center;
}

.oculto{
    display: none;
}

.error{
    border: red solid 2px;
}

#finalizado-juego{
   text-align: center;
}

